# Advanced Search with Operators
---

Before we do any work, we need to import several functions from cdapython:


- `Q` and `query` which power the search
- `columns` which lets us view entity field names
- `unique_terms` which lets view entity field contents
    
We're also asking cdapython to report it's version so we can be sure we're using the one we mean to.

In [1]:
from cdapython import Q, columns, unique_terms, query
print(Q.get_version())
Q.set_host_url("http://35.192.60.10:8080/")

2022.6.9


The CDA provides a custom python tool for searching CDA data. [`Q`](usage/#q) (short for Query) offers several ways to search and filter data, and several input modes:

---
- **[Q.()](../../../Documentation/usage/#q)** builds a query that can be used by `run()` or `count()`
- **[Q.run()](../../../Documentation/usage/#qrun)** returns data for the specified search 
- **[Q.count()](../../../Documentation/usage/#qcounts)** returns summary information (counts) data that fit the specified search

---

Operators allow us to make more complex queries by adding, subtracting, or filtering data.

`Q` uses the following operators:

- [`=` : Equals](#Equals:-=)
- [`!=` : Not Equal](#Not-Equal:-!=)
- [`OR`](#OR) 
- [`%`: a wildcard](#%-pattern-matching)
- [`AND`](#AND)
- [`IS` and `IS NOT`](#IS-and-IS-NOT)
- [`IN` and `NOT IN`](#IN-and-NOT-IN)
- `>` : Greater than
- `<` : Less than
- `>=` : Greater than or Equal to
- `<=` : Less than or Equal to
- `NOT()`
- `IN()`
- `NOT IN()`

We use these operators to build more and more complex Q statements before sending our query to `run()` or `count()`.

## Equals: `=`

In the other tutorials, we have always used the same query, which uses the `=` operator. 

```Q('ResearchSubject.primary_diagnosis_site = "brain"')```

This operator will only return data where the primary_diagnosis_site is exactly "brain". Here let's to a similar search, but for "uterus". We'll look at the researchsubject summary:

In [2]:
Q('ResearchSubject.primary_diagnosis_site = "uterus"').researchsubject.count.run()

Getting results from database

Total execution time: 3427 ms

    total : 867

   files : 242362

system,count
IDC,867
primary_diagnosis_condition,count
None,867
primary_diagnosis_site,count
Uterus,867

## Not Equal: `!=`

The `!=` operator does the opposite of the `=` operator, it returns everything that is not exactly the term you give it:

In [3]:
Q('ResearchSubject.primary_diagnosis_site != "uterus"').researchsubject.count.run()

Getting results from database

Total execution time: 3351 ms

   total : 148831

  files : 39151844

system,count
GDC,85416
IDC,61081
PDC,2334
primary_diagnosis_condition,count
"Cystic, Mucinous and Serous Neoplasms",3723
Gliomas,4772
Ductal and Lobular Neoplasms,7870
Adenomas and Adenocarcinomas,32730
Complex Mixed and Stromal Neoplasms,1826
Breast Invasive Carcinoma,251
Nevi and Melanomas,3155
Squamous Cell Neoplasms,5076
Transitional Cell Papillomas and Carcinomas,1885
Plasma Cell Tumors,1066
Neuroepitheliomatous Neoplasms,1332
None,61083
Thymic Epithelial Neoplasms,262
Myeloid Leukemias,3965
Synovial-like Neoplasms,98
"Epithelial Neoplasms, NOS",5694
Glioblastoma,100
Other,206
Lymphoid Leukemias,2072
Paragangliomas and Glomus Tumors,241
Colon Adenocarcinoma,164
Lung Squamous Cell Carcinoma,118
Fibromatous Neoplasms,322
Germ Cell Neoplasms,703
Osseous and Chondromatous Neoplasms,615
Mature B-Cell Lymphomas,1019
Lung Adenocarcinoma,216
Specialized Gonadal Neoplasms,124
Mesothelial Neoplasms,647
Myomatous Neoplasms,632
Complex Epithelial Neoplasms,254
Pancreatic Ductal Adenocarcinoma,144
Nerve Sheath Tumors,115
Myelodysplastic Syndromes,386
Ovarian Serous Cystadenocarcinoma,283
Uterine Corpus Endometrial Carcinoma,104
Hepatocellular Carcinoma,170
Clear Cell Renal Cell Carcinoma,116
"Soft Tissue Tumors and Sarcomas, NOS",315
Rectum Adenocarcinoma,30
"Neoplasms, NOS",1251
Mature T- and NK-Cell Lymphomas,94
Acinar Cell Neoplasms,300
Oral Squamous Cell Carcinoma,38
Not Applicable,440
Pediatric/AYA Brain Tumors,199
Not Reported,271
Head and Neck Squamous Cell Carcinoma,110
Early Onset Gastric Cancer,80
Lipomatous Neoplasms,343
"Leukemias, NOS",118
Adnexal and Skin Appendage Neoplasms,58
Miscellaneous Tumors,89
Blood Vessel Tumors,156
Mucoepidermoid Neoplasms,60
Chronic Myeloproliferative Disorders,476
Meningiomas,289
Unknown,63
Miscellaneous Bone Tumors,130
Mesonephromas,5
Basal Cell Neoplasms,45
Myxomatous Neoplasms,18
Other Hematologic Disorders,20
Other Leukemias,68
Immunoproliferative Diseases,4
Fibroepithelial Neoplasms,25
Precursor Cell Lymphoblastic Lymphoma,12
"Malignant Lymphomas, NOS or Diffuse",42
Neoplasms of Histiocytes and Accessory Lymphoid Cells,66
Trophoblastic neoplasms,21
Mast Cell Tumors,10
Giant Cell Tumors,3
Hodgkin Lymphoma,11
Papillary Renal Cell Carcinoma,2
Granular Cell Tumors and Alveolar Soft Part Sarcomas,23
Odontogenic Tumors,3
Lymphatic Vessel Tumors,1
Acute Myeloid Leukemia,2
Chromophobe Renal Cell Carcinoma,1
primary_diagnosis_site,count
Breast,21945
Hematopoietic and reticuloendothelial systems,9007
Not Reported,506
Prostate gland,2354
Kidney,4788
Bronchus and lung,12256
Adrenal gland,851
Thyroid gland,1880
Brain,2923
Head and Neck,148
Retroperitoneum and peritoneum,384
Pancreas,3352
"Connective, subcutaneous and other soft tissues",1573
Skin,3497
Head-Neck,2704
Colon,8559
Corpus uteri,780
Cervix uteri,915
Ovary,4346
Liver and intrahepatic bile ducts,1609
Lymph nodes,538
Bladder,2155
Other and unspecified major salivary glands,615
Other and ill-defined sites,1186
Other and unspecified parts of tongue,133
Chest,28221
Lung,4848
Rectum,1308
"Uterus, NOS",1998
Stomach,1870
Unknown,3232
"Other and ill-defined sites in lip, oral cavity and pharynx",361
Larynx,169
Other and unspecified urinary organs,217
"Spinal cord, cranial nerves, and other parts of central nervous system",3703
Oropharynx,194
"Bones, joints and articular cartilage of limbs",268
"Heart, mediastinum, and pleura",706
Esophagus,1580
Rectosigmoid junction,81
Eye and adnexa,222
Abdomen,92
Penis,33
Other and unspecified parts of mouth,43
Thymus,431
Other and ill-defined digestive organs,719
"Bones, joints and articular cartilage of other and unspecified sites",455
Other and unspecified female genital organs,160
Various,449
Testis,542
Liver,622
Floor of mouth,56
Gum,11
"Abdomen, Mediastinum",176
Various (11 locations),89
Prostate,2139
"Pelvis, Prostate, Anus",58
Phantom,33
Extremities,51
Testicles,150
Thyroid,507
"Chest-Abdomen-Pelvis, Leg, TSpine",261
Adrenal Glands,271
Mesothelium,87
Cervix,307
Head,105
Ear,242
Base of tongue,24
Other and unspecified parts of biliary tract,224
Hypopharynx,25
Small intestine,269
Bile Duct,51
Tonsil,46
None,340
Peripheral nerves and autonomic nervous system,418
Trachea,7
Anus and anal canal,233
"Marrow, Blood",89
Meninges,243
Other endocrine glands and related structures,181
Gallbladder,265
Intraocular,80
Nasopharynx,101
Vagina,72
Nasal cavity and middle ear,40
Vulva,10
Lung Phantom,8
Lip,9
Renal pelvis,1
Palate,5
Ureter,15
Pancreas,1
Other and ill-defined sites within respiratory system and intrathoracic organs,2
Other and unspecified male genital organs,1

Note that in our `!=` results, there are 1998 "Uterus, NOS" samples. These don't appear in our `=` search because "Uterus, NOS" is not *exactly* "Uterus".

There are several ways to change our search to get both "Uterus" and "Uterus, NOS", and which we choose will depend on both our interests, and on how different the terms are that we care about.

## OR

If we have a small enough number of search criteria to reliably type them out, we can use the OR operator to combine results. In an `OR` query, each data point only needs to meet a single piece of criteria to be returned, this makes `OR` good for early, broad searches. It *increases* the amount of data returned.

`OR` can be used both inside a Q statement:

In [4]:
Q('ResearchSubject.primary_diagnosis_site = "uterus" OR ResearchSubject.primary_diagnosis_site = "uterus, NOS"').researchsubject.count.run()

Getting results from database

Total execution time: 3357 ms

    total : 2865

   files : 257140

system,count
PDC,104
GDC,1894
IDC,867
primary_diagnosis_condition,count
Complex Mixed and Stromal Neoplasms,294
Uterine Corpus Endometrial Carcinoma,104
Adenomas and Adenocarcinomas,1037
None,867
Myomatous Neoplasms,183
"Cystic, Mucinous and Serous Neoplasms",313
Not Reported,12
"Soft Tissue Tumors and Sarcomas, NOS",14
Complex Epithelial Neoplasms,2
"Epithelial Neoplasms, NOS",20
Mesonephromas,2
Trophoblastic neoplasms,13
"Neoplasms, NOS",3
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
"Uterus, NOS",1998
Uterus,867

and to combine 2 or more Q statements:

In [5]:
Query1 = Q('ResearchSubject.primary_diagnosis_site = "uterus, NOS"') 
Query2 = Q('ResearchSubject.primary_diagnosis_condition = "Uterine Corpus Endometrial Carcinoma"')

Query1.OR(Query2).researchsubject.count.run()

Getting results from database

Total execution time: 3445 ms

    total : 1998

   files : 14778

system,count
PDC,104
GDC,1894
primary_diagnosis_condition,count
Myomatous Neoplasms,183
Uterine Corpus Endometrial Carcinoma,104
"Cystic, Mucinous and Serous Neoplasms",313
Adenomas and Adenocarcinomas,1037
Complex Mixed and Stromal Neoplasms,294
Not Reported,12
"Epithelial Neoplasms, NOS",20
"Soft Tissue Tumors and Sarcomas, NOS",14
Trophoblastic neoplasms,13
"Neoplasms, NOS",3
Complex Epithelial Neoplasms,2
Mesonephromas,2
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
"Uterus, NOS",1998

For each `OR` you must specify both the search term ("uterus") and where to find the term ("ResearchSubject.primary_diagnosis_site"). This means that the `OR` operator is flexible enough to run searches across columns, or even across endpoints.

## AND 

Like `OR`, `AND` can be used both inside a Q statement, and to join multiple Q statements. `AND` requires that both statements be true simultanously for each returned bit of data. This makes `AND` good for filtering down results. It *decreases* the amount of data returned.

If we reuse the `OR` examples above, the first one will have no results, because primary_diagnosis_site can have only one value, so it can never be both "uterus" and "uterus, NOS":

In [6]:
Q('ResearchSubject.primary_diagnosis_site = "uterus" AND ResearchSubject.primary_diagnosis_site = "uterus, NOS"').researchsubject.count.run()

Getting results from database

Total execution time: 3477 ms

     total : 0

     files : 0

However, for searches where you are interested in subsetting multiple columns, `AND` can help you to quickly filter to only the set you want. Note that `AND` can be used both inside a `Q` statement, and to add multiple `Q` statements together:

In [7]:
Q('ResearchSubject.primary_diagnosis_site = "uterus, NOS" AND ResearchSubject.primary_diagnosis_condition = "Uterine Corpus Endometrial Carcinoma"').researchsubject.count.run()

Getting results from database

Total execution time: 3353 ms

    total : 104

    files : 2560

system,count
PDC,104
primary_diagnosis_condition,count
Uterine Corpus Endometrial Carcinoma,104
primary_diagnosis_site,count
"Uterus, NOS",104

In [8]:
Query1 = Q('ResearchSubject.primary_diagnosis_site = "uterus, NOS"') 
Query2 = Q('ResearchSubject.primary_diagnosis_condition = "Uterine Corpus Endometrial Carcinoma"')

Query1.AND(Query2).researchsubject.count.run()

Getting results from database

Total execution time: 3371 ms

    total : 104

    files : 2560

system,count
PDC,104
primary_diagnosis_condition,count
Uterine Corpus Endometrial Carcinoma,104
primary_diagnosis_site,count
"Uterus, NOS",104

## IN and NOT IN

For instances where you have many search terms, it may be easier (and more readable) to use `IN`. With `IN` you make a list of all the terms you are interested in, and ask whether they are `IN` a given field:

In [9]:
Q('ResearchSubject.primary_diagnosis_site IN ("uterus, NOS", "uterus", "Cervix", "Cervix uteri")').researchsubject.count.run()

Getting results from database

Total execution time: 3280 ms

    total : 4087

   files : 299493

system,count
PDC,104
GDC,2809
IDC,1174
primary_diagnosis_condition,count
Uterine Corpus Endometrial Carcinoma,104
Myomatous Neoplasms,183
Adenomas and Adenocarcinomas,1264
Squamous Cell Neoplasms,609
"Cystic, Mucinous and Serous Neoplasms",348
Complex Mixed and Stromal Neoplasms,294
Complex Epithelial Neoplasms,27
None,1175
Not Reported,12
"Epithelial Neoplasms, NOS",26
"Soft Tissue Tumors and Sarcomas, NOS",14
"Neoplasms, NOS",12
Trophoblastic neoplasms,13
Mesonephromas,5
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
Cervix uteri,915
"Uterus, NOS",1998
Uterus,867
Cervix,307

In [31]:
Q("""ResearchSubject.primary_diagnosis_site = "uterus, NOS" OR 
      ResearchSubject.primary_diagnosis_site = "uterus" OR 
      ResearchSubject.primary_diagnosis_site = "Cervix" OR 
      ResearchSubject.primary_diagnosis_site = "Cervix uteri" """).researchsubject.count.run()

Getting results from database

Total execution time: 3571 ms

    total : 4087

   files : 299493

system,count
GDC,2809
PDC,104
IDC,1174
primary_diagnosis_condition,count
Myomatous Neoplasms,183
Adenomas and Adenocarcinomas,1264
Squamous Cell Neoplasms,609
Not Reported,12
Complex Mixed and Stromal Neoplasms,294
Uterine Corpus Endometrial Carcinoma,104
"Cystic, Mucinous and Serous Neoplasms",348
None,1175
"Neoplasms, NOS",12
Trophoblastic neoplasms,13
"Epithelial Neoplasms, NOS",26
Mesonephromas,5
Complex Epithelial Neoplasms,27
"Soft Tissue Tumors and Sarcomas, NOS",14
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
Cervix uteri,915
"Uterus, NOS",1998
Uterus,867
Cervix,307

In [33]:
Q('ResearchSubject.primary_diagnosis_site = "uterus, NOS" OR ResearchSubject.primary_diagnosis_site = "uterus" OR ResearchSubject.primary_diagnosis_site = "Cervix" OR ResearchSubject.primary_diagnosis_site = "Cervix uteri"').researchsubject.count.run()

Getting results from database

Total execution time: 3540 ms

    total : 4087

   files : 299493

system,count
GDC,2809
PDC,104
IDC,1174
primary_diagnosis_condition,count
Myomatous Neoplasms,183
Adenomas and Adenocarcinomas,1264
Squamous Cell Neoplasms,609
Not Reported,12
Complex Mixed and Stromal Neoplasms,294
Uterine Corpus Endometrial Carcinoma,104
"Cystic, Mucinous and Serous Neoplasms",348
None,1175
"Neoplasms, NOS",12
Trophoblastic neoplasms,13
"Epithelial Neoplasms, NOS",26
Mesonephromas,5
Complex Epithelial Neoplasms,27
"Soft Tissue Tumors and Sarcomas, NOS",14
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
Cervix uteri,915
"Uterus, NOS",1998
Uterus,867
Cervix,307

In [11]:
Q('ResearchSubject.primary_diagnosis_site = "uterus, NOS" OR ResearchSubject.primary_diagnosis_site = "uterus" OR ResearchSubject.primary_diagnosis_site = "Cervix" OR ResearchSubject.primary_diagnosis_site = "Cervix uteri"').researchsubject.count.run()

Getting results from database

Total execution time: 3386 ms

    total : 4087

   files : 299493

system,count
GDC,2809
PDC,104
IDC,1174
primary_diagnosis_condition,count
Myomatous Neoplasms,183
Adenomas and Adenocarcinomas,1264
Squamous Cell Neoplasms,609
Not Reported,12
Complex Mixed and Stromal Neoplasms,294
Uterine Corpus Endometrial Carcinoma,104
"Cystic, Mucinous and Serous Neoplasms",348
None,1175
"Neoplasms, NOS",12
Trophoblastic neoplasms,13
"Epithelial Neoplasms, NOS",26
Mesonephromas,5
Complex Epithelial Neoplasms,27
"Soft Tissue Tumors and Sarcomas, NOS",14
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
Cervix uteri,915
"Uterus, NOS",1998
Uterus,867
Cervix,307

## `%` pattern matching

While `OR` is useful for situations with only a few options, in some cases there are many terms that all have similar names, and it would be error prone to type out every variant. For instance, if we filter the unique terms in "ResearchSubject.primary_diagnosis_site" to everything with "uter" we get:

In [12]:
unique_terms("ResearchSubject.primary_diagnosis_site").to_list(filters="uter")

['Cervix uteri', 'Corpus uteri', 'Uterus', 'Uterus, NOS']

The `%` operator acts as a wildcard, and lets you run a query similar to the filter function in unique_terms:

In [13]:
Q('ResearchSubject.primary_diagnosis_site = "uter%"').researchsubject.count.run()

Getting results from database

Total execution time: 3705 ms

    total : 2865

   files : 257140

system,count
GDC,1894
PDC,104
IDC,867
primary_diagnosis_condition,count
Adenomas and Adenocarcinomas,1037
Uterine Corpus Endometrial Carcinoma,104
Not Reported,12
Complex Mixed and Stromal Neoplasms,294
Myomatous Neoplasms,183
None,867
"Cystic, Mucinous and Serous Neoplasms",313
Trophoblastic neoplasms,13
"Epithelial Neoplasms, NOS",20
Mesonephromas,2
"Soft Tissue Tumors and Sarcomas, NOS",14
Complex Epithelial Neoplasms,2
"Neoplasms, NOS",3
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
"Uterus, NOS",1998
Uterus,867

Because the `%` is at the end of "uter" this query returns anything that starts with "uter", depending on your question, you may want to move the `%`, or add more of them:

In [14]:
Q('ResearchSubject.primary_diagnosis_site = "%uter"').researchsubject.count.run()

Getting results from database

Total execution time: 3359 ms

     total : 0

     files : 0

In [15]:
Q('ResearchSubject.primary_diagnosis_site = "%uter%"').researchsubject.count.run()

Getting results from database

Total execution time: 3619 ms

    total : 4560

   files : 302149

system,count
GDC,3589
PDC,104
IDC,867
primary_diagnosis_condition,count
Adenomas and Adenocarcinomas,1671
"Cystic, Mucinous and Serous Neoplasms",487
Squamous Cell Neoplasms,609
Uterine Corpus Endometrial Carcinoma,104
Myomatous Neoplasms,187
Complex Mixed and Stromal Neoplasms,320
None,868
Complex Epithelial Neoplasms,27
"Epithelial Neoplasms, NOS",230
Not Reported,12
Trophoblastic neoplasms,13
"Neoplasms, NOS",12
"Soft Tissue Tumors and Sarcomas, NOS",14
Mesonephromas,5
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
Corpus uteri,780
Cervix uteri,915
"Uterus, NOS",1998
Uterus,867

There may be cases in which you want to filter out all of the data with some partial word in it, in which case, you can combine `%` with `!=`:

In [16]:
Q('sex != "f%"').subject.count.run()

Getting results from database

Total execution time: 3417 ms

   total : 91361

  files : 37815169

system,count
IDC,56038
GDC,40024
PDC,1089
sex,count
not reported,266
None,51216
male,39793
unknown,81
unspecified,5
race,count
None,51216
white,23406
chinese,65
asian,1348
black or african american,1815
not reported,9881
not allowed to collect,1106
other,415
Unknown,2027
american indian or alaska native,56
native hawaiian or other pacific islander,26
ethnicity,count
not reported,11796
None,51216
not hispanic or latino,23020
Unknown,2293
hispanic or latino,1450
not allowed to collect,1586
cause_of_death,count
None,90714
Not Reported,335
Metastasis,1
Infection,3
Cancer Related,198
Unknown,22
Not Cancer Related,76
HCC recurrence,5
Surgical Complications,3
"Cardiovascular Disorder, NOS",3
Cerebral Hemorrhage,1

## IS and IS NOT

In computing, lack of data is often treated as a special case. In the CDA, values listed as "None" are actually `null`, that is, the field is empty. In order to search for emptiness, you need to use the special function `IS`:

In [17]:
Q('ResearchSubject.primary_diagnosis_condition IS null').researchsubject.count.run()

Getting results from database

Total execution time: 3255 ms

   total : 61950

  files : 38475829

system,count
IDC,61948
GDC,2
primary_diagnosis_condition,count
None,61950
primary_diagnosis_site,count
Breast,12587
Head-Neck,2704
Colon,1491
Chest,28221
Lung,4728
Abdomen,92
Various,449
Brain,1165
"Abdomen, Mediastinum",176
Thymus,125
Bladder,431
Kidney,1373
Uterus,867
Various (11 locations),89
Pancreas,481
Skin,612
Head,105
Liver,452
Prostate,2139
"Pelvis, Prostate, Anus",58
Phantom,33
Extremities,51
Ovary,664
Testicles,150
Bile Duct,51
Rectum,171
Thyroid,507
Stomach,443
"Chest-Abdomen-Pelvis, Leg, TSpine",261
Mesothelium,87
Adrenal Glands,271
Esophagus,187
Cervix,307
Ear,242
"Marrow, Blood",89
Intraocular,80
Cervix uteri,1
Lung Phantom,8
Pancreas,1
None,1

Probably more common, is to want to filter *out* the empty fields, in which case you use its companion function `IS_NOT`:

In [18]:
Q('sex IS NOT null').subject.count.run()

Getting results from database

Total execution time: 3340 ms

   total : 85654

  files : 3487816

system,count
GDC,84979
IDC,11004
PDC,2231
sex,count
female,45509
not reported,266
male,39793
unknown,81
unspecified,5
race,count
black or african american,4567
white,49069
not reported,21816
chinese,90
asian,2951
Unknown,3985
native hawaiian or other pacific islander,55
other,947
american indian or alaska native,116
not allowed to collect,2058
ethnicity,count
not hispanic or latino,48382
not reported,26034
Unknown,4455
hispanic or latino,3131
not allowed to collect,3652
cause_of_death,count
Not Reported,797
None,84257
HCC recurrence,7
Cancer Related,336
Unknown,131
Infection,7
Not Cancer Related,107
Surgical Complications,4
"Cardiovascular Disorder, NOS",4
Cancer cell proliferation,1
Metastasis,2
Cerebral Hemorrhage,1

### Query 1

**Find data for subjects who were diagnosed after the age of 50 and who were investigated as part of the TCGA-OV project.**

In [19]:
Q('NOT (sex = "male" OR sex = "female" OR identifier.system = "IDC")').subject.count.run()

Getting results from database

Total execution time: 3310 ms

    total : 701

   files : 103570

system,count
GDC,513
PDC,201
sex,count
not reported,266
unspecified,5
None,349
unknown,81
race,count
white,7
not reported,267
None,349
Unknown,71
not allowed to collect,3
black or african american,4
ethnicity,count
not reported,290
None,349
Unknown,58
not hispanic or latino,1
not allowed to collect,3
cause_of_death,count
Not Reported,111
None,590

In [20]:
Q('sex != "male" AND sex != "female" AND identifier.system != "IDC"').subject.count.run()

Getting results from database

Total execution time: 3292 ms

    total : 701

   files : 103570

system,count
PDC,201
GDC,513
sex,count
not reported,266
unknown,81
None,349
unspecified,5
race,count
black or african american,4
not reported,267
None,349
Unknown,71
white,7
not allowed to collect,3
ethnicity,count
not reported,290
None,349
Unknown,58
not allowed to collect,3
not hispanic or latino,1
cause_of_death,count
None,590
Not Reported,111

In [21]:
q1 = Q('sex = "male"')
q2 = Q('identifier.system = "GDC"')
q3 = Q('identifier.system = "PDC"')

r2 = q1.And(q2)
r3 = q1.And(q3)

#taco = r2.run()
#taco

burrito = r3.run()

AttributeError: 'Q' object has no attribute 'And'

In [ ]:
burrito

In [ ]:
q1 = Q('sex = "male"')

taco = q1.run()
taco

In [ ]:
from pandas import DataFrame,concat
q = query('ResearchSubject.primary_diagnosis_condition LIKE "Lung%" AND sex = "male"').run()
print(q)
df = DataFrame()
for i in q.paginator(to_df=True):
    print(len(i))
    df = concat([df,i])

In [ ]:
df

In [ ]:
r.to_dataframe()

### Query 2

**Find data for donors with melanoma (Nevi and Melanomas) diagnosis and who were diagnosed before the age of 30.**

In [ ]:
q1 = Q('ResearchSubject.Specimen.primary_disease_type = "Nevi and Melanomas"')
q2 = Q('ResearchSubject.Diagnosis.age_at_diagnosis < 30*365')

q = q1.AND(q2)
r = q.run()

r.to_dataframe()

In addition, we can check how many records come from particular systems by adding one more condition to the query:

In [ ]:
q1 = Q('ResearchSubject.Specimen.primary_disease_type = "Nevi and Melanomas"')
q2 = Q('ResearchSubject.Diagnosis.age_at_diagnosis < 30*365')
q3 = Q('ResearchSubject.Specimen.identifier.system = "GDC"')

q = q1.And(q2.And(q3))
r = q.run()

print(r)

By comparing the ```Count``` value of the two results we can see that all the patients returned in the initial query are coming from the GDC.

To explore the results further, we can fetch the patient JSON objects by iterating through the results:

In [ ]:
projects = set()

for patient in r:
    research_subjects = patient['ResearchSubject']
    for rs in research_subjects:
        projects.add(rs['member_of_research_project'])

print(projects)

The output shows the projects where _Nevi and Melanomas_ cases appear.

### Query 3

**Identify all samples that meet the following conditions:**

* **Sample is from primary tumor**
* **Disease is ovarian or breast cancer**
* **Subjects are females under the age of 60 years**

In [ ]:
tumor_type = Q('ResearchSubject.Specimen.source_material_type = "Primary Tumor"')
disease1 = Q('ResearchSubject.primary_diagnosis_site = "Ovary"')
disease2 = Q('ResearchSubject.primary_diagnosis_site = "Breast"')
demographics1 = Q('sex = "female"')
demographics2 = Q('days_to_birth > -60*365') # note that days_to_birth is a negative value

q1 = tumor_type.And(demographics1.And(demographics2))
q2 = disease1.Or(disease2)
q = q1.And(q2)

r = q.run()
print(r)

In this case, we have a result that contains more than 1000 records which is the default page size. To load the next 1000 records, we can use the ```next_page()``` method:

In [ ]:
r2 = r.next_page()

In [ ]:
print(r2)

Alternatively, we can use the ```offset``` argument to specify the record to start from:

```
...
r = q.run(offset=1000)
print(r)
```

### Query 4

**Find data for donors with "Ovarian Serous Cystadenocarcinoma" with proteomic and genomic data.**

**Note that disease type value denoting the same disease groups can be completely different within different systems. This is where CDA features come into play.** We first start by exploring the values available for this particular field in both systems.

In [ ]:
unique_terms('ResearchSubject.primary_diagnosis_condition', system="GDC")

Since “Ovarian Serous Cystadenocarcinoma” doesn’t appear in GDC values we decide to look into the PDC:

In [ ]:
unique_terms('ResearchSubject.primary_diagnosis_condition', system="PDC")

After examining the output, we see that it does come from the PDC. Hence, if we could first identify the data that has research subjects found within the PDC that have this particular disease type, and then further narrow down the results to include only the portion of the data that is present in GDC, we could get the records that we are looking for.

In [ ]:
q1 = Q('ResearchSubject.primary_diagnosis_condition = "Ovarian Serous Cystadenocarcinoma"')
q2 = Q('ResearchSubject.identifier.system = "PDC"')
q3 = Q('ResearchSubject.identifier.system = "GDC"')

q = q3.From(q1.And(q2))
r = q.run()

print(r)

As you can see, this is achieved by utilizing ```From``` operator. The ```From``` operator allows us to create queries from results of other queries. This is particularly useful when working with conditions that involve a single field which can take multiple different values for different items in a list that is being part of, e.g. we need ```ResearchSubject.identifier.system``` to be both “PDC” and “GDC” for a single patient. In such cases, ```And``` operator can’t help because it will return those entries where the field takes both values, which is zero entries.

In [ ]:
for i in Q.sql("SELECT * FROM `gdc-bq-sample.cda_mvp.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS` WHERE table_name = 'v3' Limit 5"):
    print(i)

In [ ]:
q1 = query('ResearchSubject.identifier.system = "GDC" FROM ResearchSubject.primary_diagnosis_condition = "Ovarian Serous Cystadenocarcinoma" AND ResearchSubject.identifier.system = "PDC"')
result = q1.run(async_call=True)
print(result)

## Data extraction and release information

In [ ]:
# If you are interested in the extraction dates or data release versions of GDC, PDC, or IDC that is in a table or view, execute this code

for i in Q.sql("SELECT option_value FROM `gdc-bq-sample.integration.INFORMATION_SCHEMA.TABLE_OPTIONS` WHERE table_name = 'all_v1'"):
    print(i)